body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}

/* main section 1 */

.section-main {
  background: rgba(46, 47, 66, 0.7);
  padding: 188px 0;
  background-image: url("../images/random/officeforback.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/random/officeforback.jpg");
  background-repeat: no-repeat;
}

.main-name {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
}

.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/* features section 2 */

.container-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.main-features {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.features-ul {
  display: flex;
  gap: 24px;
}

.features-list {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-li {
  flex-basis: calc((100% - 72px) / 4);
}

.features-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* our team section 3 */

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-name {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.a-icon {
  fill: #4d5ae5;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-icon:hover,
.a-icon:focus {
  background-color: #404bbf;
}

.li-icons a {
  display: flex;
  justify-content: center;
  align-item: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.people-icons {
  fill: #f4f4fd;
}
.team-ul {
  display: flex;
  gap: 24px;
}

.peoples-na-wo {
  padding: 32px 0;
}

.peoples-name {
  margin-bottom: 8px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.peoples-list {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.peoples-work {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* portfolio section 4 */

.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-name {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

.container-img {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
}

.portfolio-li:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-li:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-opis {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

.page-footer {
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
  align-items: baseline;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.social-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-ul {
  display: flex;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.footer-a:hover,
.footer-a:focus {
  background-color: #31d0aa;
}

.footer-icons {
  fill: #f4f4fd;
}

.subscribe-title {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.subscribe-container {
  flex-basis: 40%;
  margin-left: auto;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  fill: #ffffff;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #8e8f99;
  --accent-color: #404bbf;
  --link-color: #4d5ae5;
  --checkbox-fill-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--accent-color);
  border: none;
  color: #ffffff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 8px;
  height: 8px;
  color: var(--primary-text-color);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 8px;
}

.comment-group {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  font-size: 12px;
  color: var(--primary-text-color);
  background: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.input-wrapper:focus-within .form-input {
  border-color: var(--link-color);
}

.input-wrapper:focus-within .input-icon {
  fill: var(--link-color);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-text-color);
  width: 18px;
  height: 18px;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  font-family: inherit;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.form-textarea:focus {
  border-color: var(--link-color);
}

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-wrapper {
  margin-bottom: 24px;
}

.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  gap: 8px;
  cursor: pointer;
}

.custom-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  fill: transparent;
  margin-bottom: 24px;
}

.checkbox-icon {
  width: 10px;
  height: 8px;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked + .privacy-label .custom-checkbox {
  background-color: var(--accent-color);
  border: none;
  fill: var(--checkbox-fill-color);
}

.privacy-link {
  color: var(--link-color);
  text-decoration: underline;
}

.submit-btn {
  min-width: 169px;
  height: 56px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--accent-color);
  border: none;
}

.close-icon,
.checkbox-icon,
.input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
